.ticTacToe{
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
